In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv("Water.csv")

In [4]:
df.head()

,Sample ID,pH,Temperature (°C),Turbidity (NTU),Dissolved Oxygen (mg/L),Conductivity (µS/cm)
0,1,7.25,23.1,4.5,7.8,342
1,2,7.11,22.3,5.1,6.2,335
2,3,7.03,21.5,3.9,8.3,356
3,4,7.38,22.9,3.2,9.5,327
4,5,7.45,20.7,3.8,8.1,352

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Sample ID                500 non-null    int64
 1   pH                       500 non-null    float64
 2   Temperature (°C)         500 non-null    float64
 3   Turbidity (NTU)          500 non-null    float64
 4   Dissolved Oxygen (mg/L)  500 non-null    float64
 5   Conductivity (µS/cm)     500 non-null    int64
dtypes: float64(4), int64(2)
memory usage: 23.6 KB

In [13]:
df.dtypes

pH                         float64
Temperature (°C)           float64
Turbidity (NTU)            float64
Dissolved Oxygen (mg/L)    float64
Conductivity (µS/cm)         int64
dtype: object

In [16]:
df.count()

pH                         500
Temperature (°C)           500
Turbidity (NTU)            500
Dissolved Oxygen (mg/L)    500
Conductivity (µS/cm)       500
dtype: int64

In [20]:
df["pH"].value_counts()

7.25    29
7.01    29
7.16    28
7.08    18
7.19    18
7.02    18
7.09    18
7.03    17
7.12    17
7.26    16
7.14    16
7.21    16
7.15    16
7.11    15
7.04    15
7.31    15
7.05    15
7.10    14
7.28    14
7.35    14
7.22    14
7.07    14
7.29    14
7.20    14
7.18    13
7.33    13
7.23    13
7.13     7
7.24     5
7.17     4
7.32     3
7.34     3
7.38     2
7.06     2
6.92     2
6.98     2
7.27     2
7.37     2
6.89     1
7.39     1
7.00     1
7.30     1
6.95     1
6.83     1
6.94     1
7.36     1
6.90     1
7.41     1
7.48     1
7.45     1
6.96     1
Name: pH, dtype: int64

In [21]:
df["pH"].unique()

array([7.25, 7.11, 7.03, 7.38, 7.45, 6.89, 7.19, 6.98, 7.31, 7.02, 7.24,
       7.17, 6.95, 7.06, 7.48, 6.92, 7.3 , 7.13, 7.01, 6.83, 7.34, 7.16,
       7.39, 7.27, 7.09, 7.15, 7.07, 7.22, 7.21, 7.35, 7.28, 7.14, 6.96,
       7.37, 7.08, 7.32, 7.12, 7.26, 7.04, 7.41, 6.9 , 7.29, 6.94, 7.36,
       7.18, 7.05, 7.33, 7.23, 7.2 , 7.  , 7.1 ])

In [8]:
df=df.drop(["Sample ID"],axis=1)

In [11]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
pH,500.0,7.16114,0.107531,6.83,7.08,7.16,7.25,7.48
Temperature (°C),500.0,22.05440,0.903123,20.30,21.20,22.20,22.90,23.60
Turbidity (NTU),500.0,4.16940,0.397492,3.10,3.80,4.20,4.50,5.10
Dissolved Oxygen (mg/L),500.0,8.38220,0.822396,6.00,7.80,8.40,9.10,9.90
Conductivity (µS/cm),500.0,344.36200,13.038672,316.00,333.00,344.00,355.00,370.00

In [22]:
df.isnull().sum().sum()

0